@import "../theme";

.card-container {
  display: grid;
  gap: 2rem;

  .card-list {
    display: flex;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.8);
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;

    .card-list-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      .card-list-row-title {
        display: flex;
        justify-content: right;
        width: 10%;
        font-weight: bold;
        text-align: right;
      }
      .card-list-row-content {
        white-space: pre-line;
        width: 90%;
      }
    }
  }

  .card-string {
    .card-string-content {
      font-size: 6rem;
      font-weight: bold;
    }
  }

  .card-circle {
    .ring {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      background: conic-gradient($secondaryColor 0% var(--fill), $primaryAccentColor var(--fill) 100%);
      display: flex;
      justify-content: center;
      align-items: center;

      .ring-inner {
        width: 65%;
        height: 65%;
        border-radius: 50%;
        background-color: $primaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ring-inner-text {
          font-size: 1.2rem;

          &:nth-child(2) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .card-circle,
  .card-string {
    display: flex;
    align-items: center;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.8);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    height: 12rem;
    position: relative;

    .label {
      font-size: 1.3rem;
      font-weight: bold;
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 40%;
    }

    .label-add {
      font-size: 0.8rem;
      font-weight: bold;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
  }

  .card-table {
    padding: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.8);
    flex-direction: column;

    .table-header,
    .table-body {
      display: grid;
      gap: 1rem;
      width: 100%;
    }

    .table-header {
      margin-bottom: 1rem;

      .table-header-item {
        font-weight: bold;
        border-bottom: 0.1rem solid $secondaryColor;
      }
    }

    .table-body {
      align-items: center;

      .table-body-item-link {
        color: $secondaryColor;
      }

      ul.table-body-item-list {
        font-size: 0.8rem;
      }

      ul.table-body-item-list,
      ul.table-body-item-two, {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
        }
      }
    }
  }
}
