@import "../theme.scss";

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  .header {
    display: flex;
    align-items: center;
    height: 3.4rem;
    padding-left: 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: $primaryAccentColor;
    gap: 1rem;

    .header-link {
      color: $secondaryColor;
      text-decoration: none;
      cursor: default;

      &:nth-child(1),
      &:nth-child(3) {
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
  }

  .content {
    height: calc(100vh - 5.8rem);
    width: 100vw;
    display: flex;
    flex-direction: row;

    .side-nav-bar {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
      width: 6rem;
      border-right: 0.2rem solid $primaryAccentColor;

      .separator {
        height: 0.1rem;
        margin: 0.5rem 1rem;
        background-color: $secondaryColor;
      }

      .side-nav-bar-entry {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: $secondaryColor;
        text-decoration: none;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;

        .side-nav-bar-entry-title {
          font-size: 0.8rem;
        }

        i {
          font-size: 1.4rem;
        }

        &:hover {
          background-color: $primaryAccentColor;
        }

        &.visible {
          margin: 0.2rem 0;
          max-height: 3rem;
          padding: 0.4rem 1rem;
        }
      }
    }

    .content-internal {
      width: 100vw;
      padding-bottom: 1rem;
      overflow-y: auto;
      position: relative;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
    font-size: 0.8rem;
    background-color: $primaryAccentColor;
  }
}

.dcc-1 {
  grid-template-columns: 1fr;
}

.dcc-2 {
  grid-template-columns: 1fr 1fr;
}

.dcc-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.spacer {
  flex-grow: 1;
}
